---
import Base from '@layouts/Base.astro'

import arrowRight from '@assets/icons/arrow-right.svg'
import email from '@assets/icons/email.svg'
import locationIcon from '@assets/icons/location-pin-dark.svg'
import phone from '@assets/icons/phone.svg'
import contactImg from '@assets/images/contact-img.jpg'
import Header from '@components/Header.astro'
import config from '@config/config.json'
import { markdownify } from '@lib/utils/textConverter'
import { Image } from 'astro:assets'
const { contact_info, site } = config

const data =  [
    {text: contact_info.address, icon: locationIcon},
    {text: contact_info.phone, icon: phone},
    {text: contact_info.email, icon: email},
]
const formName = 'contactForm'
---

<Base title={'Contact'} image={contactImg} >
  <Header client:load />
    <Image src={contactImg} alt={'client getting her eye brows microbladed'} />
  <section class="section grid gridco1 lg:grid-cols-2 gap-3">

    <div class=" space-y-10"> 
      <h3 class="text-5xl lg:text-6xl">Visit us @ <span set:html={markdownify(contact_info.city)} /> </h3>

      <div class="space-y-5">
        <h5 class="text-dark text-3xl" set:html={markdownify(site.title)} />
        <p>
          Customer satisfaction is our top priority! Our support service is available to assist you with any questions you may have about our platform and the services we provide.
        </p>
        <p>
          You can contact us any way you prefer.
        </p>
    <ul class="space-y-5">
        {data.map(item => (
            <li class="text-2xl flex space-x-2">
                <img class="self-start" src={item.icon.src} alt="location icon" />
                <span set:html={markdownify(item.text)} />
            </li>

        ))}
    </ul>
    </div>
    
      <button role="button"  class="group btn inline-flex relative justify-center items-center">
          <span class="transform transition ease-in-out group-hover:-translate-x-5">View on map</span>
          <img class="transform transition ease-in-out right-5 invisible absolute  group-hover:-translate-x-5 group-hover:opacity-100 group-hover:visible" src={arrowRight.src} alt={''}  />
      </button>
    </div>

    <form name=formName action="mailto:chukspromo@gmail.com" method="post"  class=" border-2 border-primary rounded-lg p-12 space-y-5 ">
      <h4 class=" text-3xl">Get in touch with us</h4>
      <input class="w-full border-2 border-primary rounded-lg p-4 " type="text" placeholder="Name" />
      <input class="w-full border-2 border-primary rounded-lg p-4 " type="text" placeholder="Email" />
      <input class="w-full border-2 border-primary rounded-lg p-4 " type="text" placeholder="Phone" />
      <textarea class="w-full h-40 border-2 border-primary rounded-lg p-4 " placeholder="Message" />

          <button role="button" type="submit"  class="group w-full btn-dark inline-flex relative justify-center items-center">
            <span class="transform transition ease-in-out group-hover:-translate-x-5">Submit</span>
            <img class="transform transition ease-in-out right-5 invisible absolute  group-hover:-translate-x-5 group-hover:opacity-100 group-hover:visible" src={arrowRight.src} alt={''}  />
        </button>
    </form>
  </section>
</Base>

<script>
const formName = 'contactForm'
  function validateForm() {
    const name = document.forms[formName]["name"].value;
    const email = document.forms[formName]["email"].value;
    const phone = document.forms[formName]["phone"].value;
    const message = document.forms[formName]["message"].value;
    let error = "";

    if (name == "") {
        error += "Please enter your name.\n";
    }

    if (email == "") {
        error += "Please enter your email address.\n";
    } else if (!validateEmail(email)) {
        error += "Please enter a valid email address.\n";
    }

    if (message == "") {
        error += "Please enter a message.\n";
    }

    if (error != "") {
        alert(error);
        return false;
    }
}

function validateEmail(email) {
    const re = /\S+@\S+\.\S+/;
    return re.test(email);
}

</script>

