---
import Base from '@layouts/Base.astro'

import arrowRight from '@assets/icons/arrow-right.svg'
import email from '@assets/icons/email.svg'
import locationIcon from '@assets/icons/location-pin-dark.svg'
import contactImg from '@assets/images/contact-img.jpg'
import Header from '@components/Header.astro'
import LinkButton from '@components/LinkButton.astro'
import config from '@config/config.json'
import { markdownify } from '@lib/utils/textConverter'
import { Image } from 'astro:assets'
const { contact_info, site } = config

const data =  [
    {text: contact_info.address, icon: locationIcon},
    {text: contact_info.email, icon: email},
]

---

<Base title={'Contact Us | BrowsWithNana'} description='Get in touch with the experts at BrowsWithNana' image={contactImg} >
  <Header />
    <Image src={contactImg} alt={'client getting her eye brows microbladed'} />
  <main class="section grid col-span-1 lg:grid-cols-2 gap-10">

    <div class=" space-y-10"> 
      <h3 class="text-5xl lg:text-6xl">Visit us @ <span set:html={markdownify(contact_info.city)} /> </h3>

      <div class="space-y-5">
        <h5 class="text-dark text-3xl" set:html={markdownify(site.title)} />
        <p>
          Customer satisfaction is our top priority! Our support service is available to assist you with any questions you may have about our business and the services we provide.
        </p>
        <p>
          You can contact us any way you prefer.
        </p>
    <ul class="space-y-5">
        {data.map(item => (
            <li class="text-2xl flex space-x-2">
                <img class="self-start" src={item.icon.src} alt="location icon" />
                <span set:html={markdownify(item.text)} />
            </li>

        ))}
    </ul>
    </div>
      <LinkButton href={contact_info.google_maps} text='View on map' external />
    </div>

    <form method="POST" action={`https://formsubmit.co/${contact_info.email}`}  class=" border-2 border-primary rounded-lg p-3 md:p-12 space-y-5 ">
      <h4 class=" text-3xl">Get in touch with us</h4>

      <input type="text" name="_honey" class="hidden">
      <input type="hidden" name="_autoresponse" value="Thank you for contacting browswithnana! We will be in touch with you shortly.">
      <input type="hidden" name="_template" value="table">
      <input type="hidden" name="_next" value={`${Astro.url.origin}/thank-you`}>
      <input type="hidden" name="_subject" value="Contact browswithnana.com">
      <form action="https://formsubmit.co/no-reply@browswithnana.com" method="POST" />

      <label for="name"></label>
        <input id="name" autocomplete="name" name="name" required class="w-full border-2 border-primary rounded-lg p-4 " type="text" placeholder="Name" />
      <label for="email"></label>
      <input id="email" name="email" autocomplete="email" required class="w-full border-2 border-primary rounded-lg p-4 " type="text" placeholder="Email" />
      <label for="phone"></label>
      <input id="phone" name="phone" autocomplete="tel" required class="w-full border-2 border-primary rounded-lg p-4 " type="text" placeholder="Phone" />
      <label for="message"></label>
      <textarea id="message" name="message" required class="w-full h-40 border-2 border-primary rounded-lg p-4 " placeholder="Message" />
          <button role="button" type="submit"  class="group w-full btn-dark inline-flex relative justify-center items-center">
            <span class="transform transition ease-in-out group-hover:-translate-x-5">Submit</span>
            <img class="transform transition ease-in-out right-5 invisible absolute  group-hover:-translate-x-5 group-hover:opacity-100 group-hover:visible" src={arrowRight.src} alt={''}  />
        </button>
    </form>
  </main>
</Base>
