---
// import Social from '@components/Social.astro'
// import config from '@config/config.json'
// import { markdownify } from '@lib/utils/textConverter'
// TODO: UPDATE logo to svg
import email from '@assets/icons/email.svg'
import facebook from '@assets/icons/facebook.svg'
import instagram from '@assets/icons/instagram.svg'
import locationIcon from '@assets/icons/location-pin-dark.svg'
import phone from '@assets/icons/phone.svg'
import tiktok from '@assets/icons/tiktok.svg'
import twitter from '@assets/icons/twitter.svg'
import youtube from '@assets/icons/youtube.svg'
import config from '@config/config.json'
import menu from '@config/menu.json'
import { markdownify } from '@lib/utils/textConverter'
import GetStartWithUs from '@sections/GetStartWithUs.astro'
import Instagram from '@sections/Instagram.astro'
import Logo from './Logo.astro'
const {
  params,
  contact_info,
} = config;

const { main } = menu;
const data =  [
    {text: contact_info.address, icon: locationIcon},
    {text: contact_info.phone, icon: email},
    {text: contact_info.email, icon: phone},
]
const { title } = Astro.props
const is404Page = title === '404'
---
{!is404Page ? <Instagram /> : null}
{Astro.url.pathname !== '/contact-us' && !is404Page ?  <GetStartWithUs  /> : null}
<footer class:list={['section', {'bg-primary text-dark': is404Page }]} aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto  pb-8 pt-16">
    <div class="gap-y-10 gap-x-5 grid grid-cols-2 xl:grid-cols-5 xl:gap-8">
      <div class="col-span-2 md:col-span-1">
        <Logo />
      </div>
      <div class="col-span-1 space-y-5">
        <h3 class="text-sm font-semibold leading-6">Links</h3>
        <ul role="list" class="mt-6 space-y-4">
          {
            main.map((item) => (
              <li>
                <a href="#" class="social-icons">
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="col-span-1 space-y-5">
        <h3 class="text-sm font-semibold leading-6">Contact Us</h3>
        <div>

          <ul class="space-y-5">
            {data.map(item => (
                <li class="flex space-x-2">
                    <img class="self-start"   src={item.icon.src} alt="location icon" />
                    <span set:html={markdownify(item.text)} />
                </li>

            ))}
        </ul>
        </div>
      </div>
      <div class="col-span-1 space-y-5">
        <h3 class="text-sm font-semibold leading-6">About Us</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic velit
              corporis vitae rerum doloribus aliquid ex id tenetur consequuntur,
              ratione, perferendis fugiat quos, iusto natus voluptate inventore
              est sapiente eaque?
            </p>
      </div>

      <div class="col-span-1 space-y-5">
  <h3 class="text-sm font-semibold leading-6">Follow Us</h3>
<div class="grid grid-cols-3 gap-y-10">
  <a href="#" class="social-icons">
    <img src={youtube.src} alt="youtube" />
  </a>
  <a href="#" class="social-icons">
    <img src={facebook.src} alt="facebook" />
  </a>
  <a href="#" class="social-icons">
    <img src={twitter.src} alt="twitter" />
  </a>
  <a href="#" class="social-icons">
    <img src={instagram.src} alt="instagram" />
  </a>
  <a href="#" class="social-icons">
    <img src={tiktok.src} alt="tiktok" />
  </a>
</div>

      </div>

    </div>
    <div
      class="mt-16 text-center border-t border-dark pt-8 sm:mt-20 lg:mt-24"
    >
      <p class="text-xs leading-5" set:html={markdownify(params.copyright)} />
    </div>
  </div>
</footer>
