---
import microblading from '@assets/images/microblading.png'
import microshading from '@assets/images/microhading.png'
import featherBrows from '@assets/images/featherbrows.png'
import nanasign from '@assets/images/nanasign.png'
import serviceHero from '@assets/images/servicesHero.png'
import { Image } from "astro:assets"
---
<section class="section md:pt-48 grid lg:grid-cols-2  gap-20">
  
  <div class="space-y-5 self-center grid-rows-1 banner-bg p-16">
    <h3 class="text-6xl">Welcome Lovelies</h3>
    <p>
      Thank you for stopping by at Brows with Nana (aka Hoshi.Studio.Nana), a semi-permanent makeup boutique located in Plano, TX (NEW LOCATION AT HOSHI STUDIO IN FRISCO, TX!) specializing in the most trendy, state-of-the art, natural microblading and shading techniques to create the brows you've always dreamed of.
    </p>
    <p>
      Let's bring some transformative luxury into your everyday life.
    </p>
  </div>
  <div class=" grid-rows-2">
    <Image
      src={serviceHero}
      alt="Banner image"
    />
  </div>
</section>
<section class="section  grid lg:grid-cols-2  gap-20">
  <div class="leaf-image-container grid-rows-2">
    <Image
      src={microblading}
      alt="Artist Nancy Lin microblading a female client"
    />
  </div>
  <div class="space-y-5 self-center grid-rows-1">
    <h3 class="text-6xl">Microblading</h3>
    <h5 class="text-2xl">Strokes Only | Only by Request</h3>
    <ul class="marker:text-[#83B197] lg:list-disc">
        <li >
          Microblading consists of 100% hair-like strokes 
        </li>
        <li>
          This is ideal for those who have dry to AND have a good amount of hair throughout their brows
        </li>
        <li>
          Microblading is not recommended for you if you have extremely oily skin, or large pores | Microshading may be a better fit for you due to the chance of pigment being rejected and healing inconsistently 
        </li>
        <li>
          Microblading may require more touch ups compared to all other procedures 
        </li>
        <li>
          Procedure may take up to 4 hours and includes a free consultation of assessing the right color and brow shape for you | The bulk of the procedure time is dedicated to making sure you're 100% happy with the brow shape before moving onto the actual procedure 
        </li>
        <li>
          This does not include the initial touch-up which is booked separately
        </li>
    </ul>
  </div>
</section>
<section class="section  grid lg:grid-cols-2  gap-20">
  <div class="space-y-5 self-center grid-rows-1">
    <h3 class="text-6xl">Microshading</h3>
    <h5 class="text-2xl">Shading Only</h3>
    <ul class="marker:text-[#83B197] lg:list-disc">
        <li>
          Microshading is 100% shading to resemble a natural, makeup look that creates an illusion of depth and an ombre effect | Clients can also request a natural look to a dramatic makeup look with Microshading 
        </li>
        <li>
          This is most ideal for all skin types, especially those with oily skin, and for those with little to no hair | Microshading is more gentle and less traumatic to the skin than Microblading and will heal the most beautifully over time▫️MY #1 MOST RECOMMENDED SERVICE!
        </li>
        <li>
          Microshading improves hair growth by mimicking microneedling, which stimulates blood flow and collagen growth which leads to hair growth        
         </li>
        <li>
          Procedure may take up to 4.5 hours and includes a free consultation of assessing the right color and brow shape for you | The bulk of the procedure time is dedicated to making sure you're 100% happy with the brow shape before moving onto the actual procedure         </li>
        <li>
          This does not include the initial touch-up which is booked separately    
        </li> 
    </ul>
  </div>
  <div class="leaf-image-container grid-rows-2">
    <Image
      src={microshading}
      alt="Artist Nancy Lin microblading a female client"
    />
  </div>
</section>

<section class="section  grid lg:grid-cols-2  gap-20">
  <div class="leaf-image-container grid-rows-2">
    <Image
      src={featherBrows}
      alt="Artist Nancy Lin microblading a female client"
    />
  </div>
  <div class="space-y-5 self-center grid-rows-1">
    <h3 class="text-6xl">Feather Brows</h3>
    <h5 class="text-2xl">Front Strokes & Shading</h3>
    <ul class="marker:text-[#83B197]  lg:list-disc">
        <li>
          Includes front hair strokes in the brows with shading added all throughout the brows | Shading can be customized for a natural / natural makeup / makeup look ️        </li>
        <li>
          This is most ideal for all skin types, especially those with combo-oily skin, and for those with little to no hair
                </li>
        <li>
          Perfect for those who may not need strokes throughout the entire brow, but want some fluff in the front | Also recommended for those who have more hair in the fronts, but little to no hair in the tail area          </li>
        <li>
          <li>
            Can improve hair growth by mimicking microneedling, which stimulates blood flow and collagen growth which leads to hair growth
          </li>
          Procedure may take up to 4.5 hours and includes a free consultation of assessing the right color and brow shape for you | The bulk of the procedure time is dedicated to making sure you're 100% happy with the brow shape before moving onto the actual procedure         </li>
        <li>
          This does not include the initial touch-up which is booked separately    
        </li> 
    </ul>
  </div>
 
</section>

<section class="section  ">
  <div class="grid lg:grid-cols-2  gap-20 service-bg p-16">
  <div class="space-y-5 self-center grid-rows-1">
    <h3 class="text-6xl">Nana's Signature</h3>
    <h5 class="text-2xl">Feather Brows</h3>
    <ul class="marker:text-[#83B197]  lg:list-disc">
        <li>
          A combination of microblading and shading throughout the entire whole brow areas for the fluffiest look
          </li>
                  <li>
                    This is ideal for those with normal-dry skin with decent amount of hair flow
                </li>
       <li>
          Procedure may take up to 4.5 hours and includes a free consultation of assessing the right color and brow shape for you | The bulk of the procedure time is dedicated to making sure you're 100% happy with the brow shape before moving onto the actual procedure    
             </li>
        <li>
          This does not include the initial touch-up which is booked separately    
        </li> 
    </ul>
  </div>
  <div class="leaf-image-container grid-rows-2">
    <Image
      src={nanasign}
      alt="Artist Nancy Lin microblading a female client"
    />
  </div>
</div>
</section>
<style>
  .service-bg {
    background: linear-gradient(135deg, #F5EBEA 0%, #FFFDFD 22.40%, #F5EBEA 100%);
    border-radius: 10px;
border: 1px solid #8F7880;
  },
  .banner-bg {
    border-radius: 10px;
background: #F5EBEA;
  }
</style>