---

import arrowRight from '@assets/icons/arrow-right.svg'
const testimonials = [
  {
    name: 'Wendy Heath',
    image: {
      src: 'images/testimonial-1.png',
      alt: 'Wendy Heath',
    },
    text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit.',
  },
  {
    name: 'Wendy Heath',
    image: {
      src: 'images/testimonial-2.png',
      alt: 'Wendy Heath',
    },
    text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit.',
  },
  {
    name: 'Wendy Heath',
    image: {
      src: 'images/testimonial-3.png',
      alt: 'Wendy Heath',
    },
    text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit.',
  },
];
---

<section class="section-colored space-y-10 flex items-center flex-col section-padding-y">
  <h3 class="text-center text-6xl ">Hear from Our Clients</h3>
  <ul role="list" class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    {
      testimonials.map(({ image, text, name }) => (
        <li class="col-span-1 flex flex-col bg-white text-center shadow">
          <div class="flex flex-1 flex-col bg-primary">
            <img
              src={image.src}
              alt={image.alt}
              class="w-full h-80 object-fill"
            />
          </div>

          <div>
            <div class=" p-9 text-center space-y-5">
              <h4 class="text-dark text-2xl font-bold">{name}</h4>
              <p >{text}</p>
            </div>
          </div>
        </li>
      ))
    }
  </ul>
  <a  role="button" href="#" class="group btn-dark border-0 inline-flex justify-center relative items-center">
    <span class="transform transition ease-in-out group-hover:-translate-x-5">Book Now</span>
        <img class="transform transition ease-in-out right-5 invisible absolute  group-hover:-translate-x-5 group-hover:opacity-100 group-hover:visible" src={arrowRight.src} alt={''}  />
</a>
</section>
