---

import arrowRight from '@assets/icons/arrow-right.svg'
import testimonialImage1 from '@assets/images/testimonial-1.png'
import testimonialImage2 from '@assets/images/testimonial-2.png'
import testimonialImage3 from '@assets/images/testimonial-3.png'
import { contact_info } from "@config/config.json"
import { Image } from "astro:assets"
const testimonials = [
  {
    name: 'Lara R',
    image: {
      src: testimonialImage1,
      alt: 'Lara R microblading client',
    },
    text: 'Nancy is the BEST!  She took her time as I have "mature" skin and did an awesome job.  They are exactly how I wanted them shaped and filled in.  She is a true artist and pleasant as well.',
  },
  {
    name: 'Angeline Adams',
    image: {
      src: testimonialImage2,
      alt: 'Angeline Adams microblading client',
    },
    text: 'Nancy is very sweet, knowledgeable, and professional. She spent the time to make sure we were on the same page with what I wanted/what works with my face, educated me throughout the whole process, and provided me with everything I need in order for the best results!',
  },
  {
    name: 'Jessica Yi',
    image: {
      src: testimonialImage3,
      alt: 'Jessica Yi microblading client',
    },
    text: 'Nancy is the best. I received a referral from one of her clients. I was a bit nervous trying out a new person, but Nancy calmed me down with her calm and sweet personality.',
  },
];
---

<section class="section-colored space-y-10 flex items-center flex-col">
  <h3 class="text-center text-6xl ">Hear from Our Clients</h3>
  <ul role="list" class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    {
      testimonials.map(({ image, text, name }) => (
        <li class="col-span-1 flex flex-col bg-white text-center shadow">
          <div class="flex flex-1 flex-col bg-primary">
            <Image
              src={image.src}
              alt={image.alt}
              class="w-full h-80 object-fill"
            />
          </div>

          <div>
            <div class=" p-9 text-center space-y-5">
              <h4 class="text-dark text-2xl font-bold">{name}</h4>
              <p class=" line-clamp-3" >{text}</p>
            </div>
          </div>
        </li>
      ))
    }
  </ul>
  <a  role="button" href={contact_info.google_maps} target="_blank" rel="nofollow" class="group btn-dark border-0 inline-flex justify-center relative items-center">
    <span class="transform transition ease-in-out group-hover:-translate-x-5">Book Now</span>
        <img class="transform transition ease-in-out right-5 invisible absolute  group-hover:-translate-x-5 group-hover:opacity-100 group-hover:visible" src={arrowRight.src} alt={''}  />
</a>
</section>
