---
import arrowRight from '@assets/icons/arrow-right.svg'
import email from '@assets/icons/email.svg'
import locationIcon from '@assets/icons/location-pin-dark.svg'
import phone from '@assets/icons/phone.svg'
import visitUsImage from '@assets/images/visit-us.jpg'
import config from '@config/config.json'
import { markdownify } from '@lib/utils/textConverter'
import { Image } from 'astro:assets'
const { contactInfo } = config

const data =  [
    {text: contactInfo.address, icon: locationIcon},
    {text: contactInfo.phone, icon: email},
    {text: contactInfo.email, icon: phone},
]
---

<section class="section grid grid-cols-2 gap-20">
    <div class="space-y-10 self-center">
        <h3 class="text-6xl">Visit us @ <span set:html={markdownify(contactInfo.city)} /> </h3>
        <div class="space-y-5">
            <h5 class="text-text text-3xl">Brows with Nana</h5>
        <ul class="space-y-5">
            {data.map(item => (
                <li class="text-2xl flex space-x-2">
                    <img class="self-start" src={item.icon.src} alt="location icon" />
                    <span set:html={markdownify(item.text)} />
                </li>

            ))}
        </ul>
        <button role="button"  class="group btn inline-flex relative items-center">
            <span class="transform transition ease-in-out group-hover:-translate-x-5">View on map</span>
            <img class="transform transition ease-in-out right-5 invisible absolute  group-hover:-translate-x-5 group-hover:opacity-100 group-hover:visible" src={arrowRight.src} alt={''}  />
        </button>
        </div>
    </div>
    <div class="leaf-image-container">
      <Image class="object-full col-span-8 self-end " src={visitUsImage} alt="Brows by nana studio" />
    </div>
</section>
